.github-box {
    background: rgb(75, 29, 243);
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
    border-radius: 2.5px;
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
    font-weight: bold;
}

.github-box img {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
}

@media (max-width: 360px), (max-height: 768px) {
    .github-box {
        padding: 5px 5px;
        font-weight: normal;
        column-gap: 4px;
        font-size: 8px;
        top: 5px;
        left: 5px;
    }

    .github-box img {
        width: 10px;
        height: 10px;
    }
}